PORT=3000
CLIENT_URL=http://localhost:5173,https://www.vidyank.com,https://vidyank.com
MONGODB_URI=
JWT_SECRET=
NODE_ENV=production

# Production cookie for www + api subdomains
COOKIE_DOMAIN=.vidyank.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=learningplatforn
CLOUDFRONT_URL=https://cdn.vidyank.com
